@media screen and (max-width: 480px) {
  header.masthead .masthead-heading {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
.card-body {
  background: rgb(117, 183, 42, 0.5);

}

